header.header
  .container
    .header__inner
      a.header__logo(href="index.html") Logo
      nav.header__nav
        .burger
          .burger__inner
        ul.header__menu
          li.header__menu-item
            a(href="index.html") home
          li.header__menu-item
            a(href="index.html") about
          li.header__menu-item
            a(href="index.html") contact us
          li.header__menu-item
            a(href="#footer") footer