.title {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0 auto;
  padding-bottom: 1.3em;
  min-width: 9.3em;
  text-align: center;
  font-family: Amsdam;
  font-size: 2em;
  text-transform: uppercase;
  color: var(--primary);
}